// variables & mixings
@import 'variables';
// fonts
@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
}

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
}

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
}

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
}

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
}

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
}

.agenda-box-pattern {
  @include flexbox;
  @include font-size(1.4);
  font-family: 'sourcesans-regular';
  padding: 30px 40px;
  background: #0855a0;
  margin-bottom: 15px;
  max-width: 100%;
  min-height: 210px;
  float: left;
  vertical-align: top;
  position: relative; // display
  &.portrait {
    width: calc(33.3% - 8px);
    min-height: 428px;
    margin: 4px;
    .agenda-box-pattern__box_wrapper {
      height: 368px;
    }
    @media screen and (max-width: 991px) {
      width: calc(50% - 8px);
    }
    @media screen and (max-width: 767px) {
      margin: 4px 0;
      min-height: 210px;
      width: 100%;
      .agenda-box-pattern__box_wrapper {
        height: 150px;
      }
    }
    &:hover {
      .component-related_card__veil {
        opacity: 0;
      }
    }
  }
  &.simple-display {
    width: calc(33.3% - 8px);
    min-height: 210px;
    margin: 4px;
    @media screen and (max-width: 991px) {
      width: calc(50% - 8px);
    }
    @media screen and (max-width: 767px) {
      margin: 4px 0;
      width: 100%;
    }
    &:hover {
      .component-related_card__veil {
        opacity: 0;
      }
    }
  }
  &.portrait.box-force-full-width {
    width: calc(100% - 8px);
    min-height: 428px;
    margin: 4px;
    @media screen and (max-width: 991px) {
      width: calc(100% - 8px);
    }
    @media screen and (max-width: 767px) {
      margin: 4px 0;
      width: 100%;
    }
    &:hover {
      .component-related_card__veil {
        opacity: 0;
      }
    }
  }
  &.simple-display.box-force-full-width,
  &:not(.portrait):not(.simple-display) {
    width: calc(100% - 8px);
    min-height: 210px;
    margin: 4px;
    @media screen and (max-width: 991px) {
      width: calc(100% - 8px);
    }
    @media screen and (max-width: 767px) {
      margin: 4px 0;
      width: 100%;
    }
    &:hover {
      .component-related_card__veil {
        opacity: 0;
      }
    }
  }
  .agenda-box-pattern__box-wrapper {
    align-self: flex-end;
    width: 100%;
    z-index: 1;
    .agenda-box-date-wrapper {
      color: #292929;
      .agenda-box-week-day {
        text-transform: uppercase;
      }
      .agenda-box-event-dates {
        span {
          font-size: 32px;
          text-transform: uppercase;
          line-height: 35px;
          &.agenda-box-event-dates-1,
          &.agenda-box-event-dates-2 {
            text-transform: uppercase;
            font-family: "sourcesans-bold";
          }
          &.agenda-box-event-dates-3 {
            font-family: "sourcesans-light";
          }
        }
      }
      .agenda-box-event-time {
        font-size: 1.5rem; //font-size: 18px;
        letter-spacing: 0.2px;
        .agenda-box-start-time {
          font-weight: bold;
        }
        .agenda-box-time-zone {
          display: inline;
          * {
            display: inline;
          }
        }
      }
    }
    .agenda-box-cal-wrapper {
      text-align: right;
      padding-right: 10px;
      bottom: 15px;
      position: absolute;
      right: 10px;
      .agenda-box-cal-button {
        background: rgba(0, 0, 0, 0.15);
        position: relative;
        display: inline-block;
        a {
          &:before {
            font-size: 33px;
            font-size: 3.3rem;
            font-family: "cern-icons";
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            content: '\h';
            display: table;
            position: relative;
            top: 2px;
            left: 3px;
            line-height: 25px;
            width: 22px;
            text-indent: -5px;
            padding: 5px 8px;
          }
        }
      }
    }
    .agenda-box-link {
      h2,
      h3 {
        @include font-size(2.0);
        line-height: 26px;
        margin: 0;
        font-family: "sourcesans-semibold";
        a {
          display: block;
          position: relative;
          span {
            display: inline;
            width: 100%;
            font-size: 2rem; // font size needs to be set for Mathjax
          }
        }
        a:hover {
          text-decoration: none;
        }
        a:before {
          content: '\j';
          @include font-size(4.0);
          @include transition(all 0.6s ease-in-out 0s);
          font-family: "cern-icons";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          vertical-align: bottom;
          position: absolute;
          top: -1px;
          left: -10px;
          line-height: 25px;
          width: 12px;
          text-indent: -25px;
        }
        a:hover:before {
          left: 0;
        }
      }
    }
    .agenda-box-content-type {
      color: white;
      display: inline;
      margin-right: 10px; //
      // &:after {
      //   content: '|';
      //   display: inline-block;
      //   position: relative;
      //   right: -6px;
      //   top: -1px;
      // }
    }
    .agenda-box-audience {
      display: inline;
      * {
        display: inline;
        color: white;
      }
      &:before {
        content: '|';
        display: inline-block;
        position: relative;
        left: -6px;
        top: -1px;
      }
    }
    .agenda-box-place {
      display: inline;
      * {
        display: inline;
      }
      color: white;
      &:before {
        content: '|';
        display: inline-block;
        position: relative;
        left: -6px;
        top: -1px;
      }
      p:last-child {
        //color: white;
        margin-bottom: 0;
      }
    }
    .agenda-box-week-day,
    .agenda-box-content-type,
    .agenda-box-audience,
    .agenda-box-place {
      font-family: "sourcesans-regular";
      @include font-size(1.4);
      line-height: 18px;
      * {
        font-family: "sourcesans-regular";
        @include font-size(1.4);
        line-height: 18px;
      }
    }
    .agenda-box-body {
      p:last-child {
        margin: 0;
      }
    }
  }
}

// SIDEBARS
.component-row__sidebar-right,
.component-row__sidebar-left {
  .agenda-box-pattern {
    &.portrait {
      margin: 4px 4px 4px 0;
      width: 100%;
      min-height: 210px;
      .agenda-box-pattern__wrapper {
        height: 150px;
      }
      @media screen and (max-width: 991px) {
        margin: 4px;
        width: calc(100% - 8px);
      }
      @media screen and (max-width: 767px) {
        margin: 4px 0;
        width: 100%;
      }
    }
    &.simple-display {
      margin: 4px 4px 4px 0;
      width: 100%;
      min-height: 210px;
      .agenda-box-pattern__wrapper {
        height: 150px;
      }
      @media screen and (max-width: 991px) {
        margin: 4px;
        width: calc(100% - 8px);
      }
      @media screen and (max-width: 767px) {
        margin: 4px 0;
        width: 100%;
      }
    }
    &:not(.portrait):not(.simple-display) {
      margin: 4px 4px 4px 0;
      width: 100%;
      min-height: 210px;
      .agenda-box-pattern__wrapper {
        height: 150px;
      }
      @media screen and (max-width: 991px) {
        margin: 4px;
        width: calc(100% - 8px);
      }
      @media screen and (max-width: 767px) {
        margin: 4px 0;
        width: 100%;
      }
    }
  }
}

// preview cards animation
@media screen and (min-width: 992px) {
  .component-row.box-effects .component-row__center {
    .agenda-box-pattern {
      @include transition(all 0.4s ease-in-out 0s); // display
      &.portrait {
        width: calc(33.3% - 38px);
        @media screen and (max-width: 991px) {
          width: calc(50% - 38px);
        }
        @media screen and (max-width: 767px) {
          width: 100% !important;
        }
        &.from-smaller {
          @include transition(all 0.4s ease-in-out 0s);
        }
        &.from-bigger,
        &.from-bigger.from-smaller {
          @include transition(all 0.4s ease-in-out 0s);
        }
        &.make-bigger {
          @include transition(all 0.4s ease-in-out 0s);
          width: calc(43.3% - 38px) !important;
        }
        &.make-smaller {
          @include transition(all 0.4s ease-in-out 0s);
          width: calc(23.3% - 38px) !important;
        }
        &:hover {
          .component-preview-cards__veil {
            opacity: 0;
          }
        }
      }
      &.simple-display {
        width: calc(33.3% - 38px);
        @media screen and (max-width: 991px) {
          width: calc(50% - 38px);
        }
        @media screen and (max-width: 767px) {
          width: 100% !important;
        }
        &.from-smaller {
          @include transition(all 0.4s ease-in-out 0s);
        }
        &.from-bigger,
        &.from-bigger.from-smaller {
          @include transition(all 0.4s ease-in-out 0s);
        }
        &.make-bigger {
          @include transition(all 0.4s ease-in-out 0s);
          width: calc(43.3% - 38px) !important;
        }
        &.make-smaller {
          @include transition(all 0.4s ease-in-out 0s);
          width: calc(23.3% - 38px) !important;
        }
        &:hover {
          .component-preview-cards__veil {
            opacity: 0;
          }
        }
      }
      &.portrait.box-force-full-width,
      &.simple-display.box-force-full-width,
      &:not(.portrait):not(.simple-display) {
        width: calc(100% - 98px);
        @media screen and (max-width: 991px) {
          width: calc(100% - 98px);
        }
        @media screen and (max-width: 767px) {
          width: 100% !important;
        }
        &:hover {
          .component-preview-cards__veil {
            opacity: 0;
          }
        }
      }
    }
  }
}
