// variables & mixings
@import "variables";
// fonts
@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular")
      format("svg");
}

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold")
      format("svg");
}

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold")
      format("svg");
}

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light")
      format("svg");
}

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular")
      format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold")
      format("svg");
}

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold")
      format("svg");
}

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?")
      format("eot"),
    url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2")
      format("woff2"),
    url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff")
      format("woff"),
    url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf")
      format("truetype"),
    url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons")
      format("svg");
}

//
//* ****************************************** component slide */
.component-slider {
  position: relative;
  display: block;
  .owl-stage {
    @include flexbox;
    @include align-items(stretch);
    .owl-item {
      @include flexbox;
      @include align-items(stretch);
      .component-slide {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
        position: relative;
      }
      .component-slide__image {
        position: relative;
        min-width: 100%;
        img {
          max-height: 500px;
          max-width: 99%;
          width: auto;
          height: auto;
          margin: auto;
          padding: 0;
        }
      }
      .component-slide__video {
        position: relative;
        min-width: 100%;
        video {
          display: block;
          height: auto;
          max-height: 500px;
          max-width: 99%;
          width: auto;
          margin: auto;
          padding: 0;
        }
      }
      .component-slide__caption {
        left: 0;
        right: 0;
        margin: 0 auto;
        p {
          margin: 0;
        }
        .component-slide__caption_image_counter {
          padding: 10px;
          display: none;
          font-family: "sourcesans-bold";
        }
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      height: auto;
      position: absolute;
      top: calc(50% - 30px);
      background: transparent;
      color: $link-color;
      font-size: 30px;
      &:hover {
        background: transparent;
        color: $link-color;
      }
      &.disabled {
        background: transparent;
        color: $grey-light;
      }
      .icons::before {
        @include font-size(3);
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: block;
        width: 30px;
        line-height: 30px;
      }
    }
    .owl-prev {
      left: 0;
      .icons::before {
        content: "\64";
      }
    }
    .owl-next {
      right: 0;
      .icons::before {
        content: "\63";
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .component-slider {
    .component-slide {
      min-width: 100%;
      width: inherit;
    }
    .owl-nav {
      display: none;
    }
    .owl-stage .owl-item {
      figure {
        margin-bottom: 0 !important;
      }
      figcaption {
        display: none;
      }
      .component-slide__caption {
        background: #111;
        position: static;
        max-width: 100%;
        margin: 0 auto;
        .component-slide__caption_image_counter {
          display: block;
        }
      }
    }
  }
}

.component-slider {
  .owl-stage .owl-item {
    figure {
      margin-bottom: 0 !important;
    }
    figcaption {
      display: none;
    }
    .component-slide__caption {
      background: #111;
      position: static;
      max-width: 100%;
      margin: 0 auto;
      .component-slide__caption_image_counter {
        display: block;
      }
    }
  }
}
