.event-node-full-content-event-dates .component-event-title {
  font-size: 40px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 50px;
}

@media only screen and (max-width: 480px) {
  .event-node-full-content-event-dates .component-event-title {
    font-size: 25px;
    line-height: 28px;
  }
}

@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
}

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
}

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
}

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
}

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
}

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
}

body.page-node-type-event-page main .fluid-container {
  width: 100%;
  margin: auto;
}

body.page-node-type-event-page .wrapper-center,
body.page-node-type-event-page .wrapper-center.has-columns {
  padding: 0 10%;
}

body.page-node-type-event-page .wrapper-center.has-left-column {
  padding: 0 0 0 10%;
}

body.page-node-type-event-page .wrapper-center.has-right-column {
  padding: 0 10% 0 0;
}

body.page-node-type-event-page .wrapper-center.has-no-column {
  padding: 0 0;
}

@media only screen and (max-width: 991px) {
  body.page-node-type-event-page .wrapper-center,
  body.page-node-type-event-page .wrapper-center.has-columns,
  body.page-node-type-event-page .wrapper-center.has-left-column,
  body.page-node-type-event-page .wrapper-center.has-right-column,
  body.page-node-type-event-page .wrapper-center.has-no-column {
    padding: 0 3%;
  }
}

body.page-node-type-event-page .sidebar-right {
  margin-top: 82px;
  position: relative;
}

hr.event-page-hr-separator {
  border-top-width: 2px;
  margin: 15px 0 20px 0;
}

.event-node-full-content-first-breadcrumbs a {
  display: inline;
  position: relative;
}

.event-node-full-content-first-breadcrumbs a:first-child {
  margin-right: 15px;
}

.event-node-full-content-first-breadcrumbs a:first-child:after {
  content: '\6a';
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  font-size: 1em;
  line-height: 1em;
  top: 3px;
  right: -15px;
}

.event-node-full-content-first-breadcrumbs a:last-child {
  color: black;
}

.event-node-full-content-second-breadcrumbs a {
  display: inline;
  margin-right: 15px;
  position: relative;
  text-transform: uppercase;
}

.event-node-full-content-second-breadcrumbs a:not(:first-child):before {
  content: '|';
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  font-size: 1em;
  line-height: 1em;
  top: -1px;
  left: -10px;
}

.event-node-full-content-second-breadcrumbs a:last-child {
  color: black;
}

.event-node-full-content-second-breadcrumbs a:first-child:before {
  content: unset;
}

.event-node-full-content-second-breadcrumbs a:first-child:last-child {
  color: #0855a0;
}

.event-node-full-content-strap {
  font-family: "sourcesans-semibold";
  font-size: 20px;
}

.event-node-full-content-enternal-links a {
  display: table;
  position: relative;
  padding-left: 18px;
}

.event-node-full-content-enternal-links a:before {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-size: 3rem;
  content: '\6a';
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  position: absolute;
  top: -1px;
  left: -12px;
  line-height: 23px;
  color: #f1862e;
  font-weight: normal;
  width: 30px;
}

.event-node-full-content-enternal-links a:hover:before {
  left: -4px;
}

.event-node-full-content-enternal-links h4 {
  font-weight: bold;
}

.event-node-full-content-file span {
  display: inline;
  border: 0 !important;
}

.event-node-full-content-file .file-icon,
.event-node-full-content-file .file-size {
  display: none;
}

.event-node-full-content-file .file-link {
  background-color: #0855a0;
  padding: 2px 15px;
  font-size: 16px;
  font-weight: normal;
}

.event-node-full-content-file .file-link a {
  color: white;
}

.event-node-full-content-file .file-link a:hover {
  text-decoration: none !important;
}

.event-node-full-content-file .file-link:hover {
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.3) inset;
}

.event-node-full-content-file h4 {
  font-weight: bold;
}

.event-node-full-content-audience {
  font-family: sourcesans-bold;
  /* line-height: 17px;
  margin-bottom: 10px; */
  line-height: 20px;
}

.event-node-full-content-webcast-image img {
  width: 100%;
}

/* .event-node-full-content-speaker,
.event-node-full-content-place {
    display: flex;
} */
.event-node-full-content-audience,
.event-node-full-content-speaker,
.event-node-full-content-place,
.event-node-full-content-camera,
.event-node-full-content-slides,
.event-node-full-content-webcast {
  display: flex;
  position: relative;
  padding-left: 18px;
}

.event-node-full-content-audience .hard-text p,
.event-node-full-content-speaker .hard-text p,
.event-node-full-content-place .hard-text p,
.event-node-full-content-camera .hard-text p,
.event-node-full-content-slides .hard-text p,
.event-node-full-content-webcast .hard-text p {
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 3px;
}

.event-node-full-content-audience .custom-text p,
.event-node-full-content-speaker .custom-text p,
.event-node-full-content-place .custom-text p,
.event-node-full-content-camera .custom-text p,
.event-node-full-content-slides .custom-text p,
.event-node-full-content-webcast .custom-text p {
  line-height: 23px;
  margin-bottom: 3px;
}

.event-node-full-content-audience .custom-text p strong,
.event-node-full-content-speaker .custom-text p strong,
.event-node-full-content-place .custom-text p strong,
.event-node-full-content-camera .custom-text p strong,
.event-node-full-content-slides .custom-text p strong,
.event-node-full-content-webcast .custom-text p strong {
  line-height: 18px;
}

.event-node-full-content-audience:before,
.event-node-full-content-speaker:before,
.event-node-full-content-place:before,
.event-node-full-content-camera:before,
.event-node-full-content-slides:before,
.event-node-full-content-webcast:before {
  font-size: 2.5rem;
  content: '\2022';
  font-family: "sourcesans-regular";
  display: block;
  position: absolute;
  top: -1px;
  left: 3px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: normal;
  width: 30px;
}

.event-node-center-content .event-node-full-content-right {
  padding-left: 50px;
}

.event-node-center-content .event-node-full-content-right .event-node-full-content-also-on-view h2 {
  font-size: 30px;
}

.event-node-center-content .event-node-full-content-right .event-node-full-content-also-on-view div {
  background: #0855a0;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

/* SOCIAL NETWORKS */
.event-node-left-content-social-icons {
  position: fixed;
  left: 0;
  top: 200px;
}

.event-node-left-content-social-icons .social-media-sharing ul {
  display: block;
}

.event-node-left-content-social-icons .social-media-sharing ul li {
  display: table;
  margin-bottom: 5px;
}

@media only screen and (max-width: 991px) {
  .event-node-center-content .event-node-full-content-right {
    padding-left: 0;
  }
  .event-node-full-content-latest-event .col-container {
    padding: 0 !important;
    margin-bottom: 10px;
  }
  .event-node-left-content-social-icons {
    position: static;
    text-align: center;
    margin-top: 3rem;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  .event-node-left-content-social-icons .social-media-sharing ul {
    display: inline-flex;
  }
  .event-node-left-content-social-icons .social-media-sharing ul li {
    display: inline;
    margin-bottom: 0;
    margin-right: 0;
  }
  .event-node-left-content-social-icons .social-media-sharing ul li a.facebook-share:after, .event-node-left-content-social-icons .social-media-sharing ul li a.linkedin:after, .event-node-left-content-social-icons .social-media-sharing ul li a.twitter:after, .event-node-left-content-social-icons .social-media-sharing ul li a.google-plus:after, .event-node-left-content-social-icons .social-media-sharing ul li a.email:after {
    display: block;
    margin-right: 10px;
  }
}

.event-node-full-content-body.text-margin-left {
  margin-left: 14%;
}

.event-node-full-content-body.text-margin-right {
  margin-right: 14%;
}

.event-node-full-content-body h1,
.event-node-full-content-body h2,
.event-node-full-content-body h3,
.event-node-full-content-body h4,
.event-node-full-content-body h5 {
  width: 100%;
}

.event-node-full-content-body blockquote {
  margin: 1.5em 0;
}

/* IMAGE */
.event-node-full-content-body figure img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #111 !important;
  width: 100%;
}

/* BREAKOUT RIGHT & ALIGN RIGHT */
.event-node-full-content-body .align-right,
.event-node-full-content-body .breakout-right {
  float: right;
  margin-left: 3%;
  clear: right;
}

.event-node-full-content-body .align-right img,
.event-node-full-content-body .breakout-right img {
  width: 100%;
}

/* BREAKOUT LEFT & ALIGN LEFT */
.event-node-full-content-body .align-left,
.event-node-full-content-body .breakout-left {
  float: left;
  margin-right: 3%;
  clear: left;
}

.event-node-full-content-body .align-left img,
.event-node-full-content-body .breakout-left img {
  width: 100%;
}

/* BREAKOUT */
.event-node-full-content-body .breakout-left,
.event-node-full-content-body .breakout-right {
  width: 60%;
}

.event-node-full-content-body .breakout-both {
  width: auto;
  clear: both;
}

/* ALIGN */
.event-node-full-content-body .align-left,
.event-node-full-content-body .align-right {
  width: 46%;
}

/* BREAKOUT RIGHT */
.event-node-full-content-body .breakout-right,
.event-node-full-content-body .breakout-both {
  margin-right: -30% !important;
}

/* BREAKOUT LEFT */
.event-node-full-content-body .breakout-left,
.event-node-full-content-body .breakout-both {
  margin-left: -30% !important;
}

/* TEXT COLUMNS */
.event-node-full-content-body .column-right.image-breakout {
  float: right;
  width: 65%;
}

.event-node-full-content-body .column-right.image-align {
  float: right;
  width: 51%;
}

.event-node-full-content-body .column-left.image-breakout {
  float: left;
  width: 65%;
}

.event-node-full-content-body .column-left.image-align {
  float: left;
  width: 51%;
}

@media only screen and (min-width: 1701px) and (max-width: 1900px) {
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-both {
    margin-left: -24% !important;
  }
  .event-node-full-content-body .breakout-right,
  .event-node-full-content-body .breakout-both {
    margin-right: -24% !important;
  }
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-right {
    width: 65%;
  }
  .event-node-full-content-body .column-right.image-breakout {
    float: right;
    width: 56%;
  }
  .event-node-full-content-body .column-left.image-breakout {
    float: left;
    width: 56%;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-both {
    margin-left: -15% !important;
  }
  .event-node-full-content-body .breakout-right,
  .event-node-full-content-body .breakout-both {
    margin-right: -15% !important;
  }
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-right {
    width: 55%;
  }
  .event-node-full-content-body .column-right.image-breakout {
    float: right;
    width: 57%;
  }
  .event-node-full-content-body .column-left.image-breakout {
    float: left;
    width: 57%;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1500px) {
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-both {
    margin-left: -7% !important;
  }
  .event-node-full-content-body .breakout-right,
  .event-node-full-content-body .breakout-both {
    margin-right: -7% !important;
  }
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-right {
    width: 50%;
  }
  .event-node-full-content-body .column-right.image-breakout {
    float: right;
    width: 54%;
  }
  .event-node-full-content-body .column-left.image-breakout {
    float: left;
    width: 54%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1365px) {
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-both {
    margin-left: 0 !important;
  }
  .event-node-full-content-body .breakout-right,
  .event-node-full-content-body .breakout-both {
    margin-right: 0 !important;
  }
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-right {
    width: 45%;
  }
  .event-node-full-content-body .column-right.image-breakout {
    float: right;
    width: 51%;
  }
  .event-node-full-content-body .column-left.image-breakout {
    float: left;
    width: 51%;
  }
}

@media only screen and (max-width: 767px) {
  .event-node-full-content-body.text-margin-left {
    margin-left: 0;
  }
  .event-node-full-content-body.text-margin-right {
    margin-right: 0;
  }
}

@media only screen and (max-width: 719px) {
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-both {
    margin-left: 0 !important;
  }
  .event-node-full-content-body .breakout-right,
  .event-node-full-content-body .breakout-both {
    margin-right: 0 !important;
  }
  .event-node-full-content-body .breakout-left,
  .event-node-full-content-body .breakout-right {
    width: 100%;
  }
  .event-node-full-content-body .column-right.image-breakout {
    float: right;
    width: 100%;
  }
  .event-node-full-content-body .column-left.image-breakout {
    float: left;
    width: 100%;
  }
  .event-node-full-content-body .align-left,
  .event-node-full-content-body .align-right {
    width: 100%;
  }
  .event-node-full-content-body .column-right.image-align {
    float: none;
    width: 100%;
    clear: both;
  }
  .event-node-full-content-body .column-left.image-align {
    float: none;
    width: 100%;
    clear: both;
  }
}

/* EVENT */
/* ****************************************** component event */
.event-node-full-content-event-dates .component-event-antetitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box1 {
  display: inline-block;
  width: 48%;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box1 .component-event-dates span.component-event-dates-1 {
  font-family: 'sourcesans-bold';
  font-size: 48px;
  line-height: 45px;
  text-transform: uppercase;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box1 .component-event-dates span.component-event-dates-2 {
  font-family: 'sourcesans-light';
  font-size: 48px;
  line-height: 45px;
  text-transform: uppercase;
  vertical-align: 1px;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box1 .component-event-time {
  font-family: 'sourcesans-bold';
  font-size: 18px;
  letter-spacing: 0.2px;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box1 .component-event-time span {
  font-family: 'sourcesans-regular';
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box2 {
  display: inline-block;
  width: 51%;
  text-align: right;
  vertical-align: bottom;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box2 .component-event-button {
  border: 2px solid #0855a0;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #0855a0;
  font-family: 'sourcesans-bold';
  display: inline-block;
  position: relative;
  top: -7px;
  cursor: pointer;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box2 .component-event-button a {
  display: block;
  padding: 8px 10px 0 35px;
  position: relative;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box2 .component-event-button a::before {
  font-size: 33px;
  font-size: 3.3rem;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: '\h';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 3px;
  line-height: 25px;
  width: 22px;
  text-indent: -5px;
}

.event-node-full-content-event-dates .component-event-calendar .component-event-box2 .component-event-button span {
  display: inline-block;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 767px) {
  .event-node-full-content-event-dates .component-event-calendar .component-event-box1 {
    width: 100%;
    float: left;
  }
  .event-node-full-content-event-dates .component-event-calendar .component-event-box2 {
    width: 100%;
    float: left;
    text-align: left;
  }
  .event-node-full-content-event-dates .component-event-calendar .component-event-box2 .component-event-button {
    margin: 20px 0;
    top: 0;
  }
}

.event-node-full-content-event-dates .component-event-content .component-event-list {
  padding-left: 0;
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  display: block;
  line-height: 26px;
  margin-bottom: 15px;
  line-height: 18px;
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item ul {
  margin-left: 22px;
  padding-left: 0;
  margin-bottom: 15px;
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item ul li {
  list-style-type: none;
  margin-bottom: 10px;
  position: relative;
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item ul li:before {
  font-size: 50px;
  font-size: 5rem;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: '\j';
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -15px;
  line-height: 24px;
  text-indent: -25px;
  color: rgba(0, 0, 0, 0.2);
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item ul li a {
  color: #0855a0;
  text-decoration: underline;
  border-bottom: 0;
}

.event-node-full-content-event-dates .component-event-content .component-event-list .component-event-item p a {
  color: #0855a0;
  text-decoration: underline;
  border-bottom: 0;
}

h1.event-node-full-content-title {
  margin-top: 20px;
  margin-bottom: 23px;
}
